{
  "presets": [
    "@babel/preset-react", 
    "@babel/preset-env", 
  ],
  "plugins": [
    [
      "@emotion",
      {
        "sourceMap": false
      }
    ],
    "@babel/plugin-transform-runtime",
    "lodash"
  ]
}
