.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendar {
  font-size: 18px;
  border: 1px solid;
}

@media only screen and (max-width: 600px) {
  .calendar {
    overflow: auto;
  }
}

.calendar-navigate {
  padding: 10px;
}

.calendar-navigate:hover {
  cursor: pointer;
  color: rgba(81, 86, 93, 0.4);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-title {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.calendar-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: minmax(120px, auto);
}

.calendar-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-size: 14px;
  padding-left: 5px;
}

.footer-button {
  height: 20px;
  vertical-align: bottom;
  margin-right: 1px;
}

#add-to-calendar {
  text-decoration: none;
  color: inherit;
  font-size: 13px;

}

.logo-plus-button {
  height: 18px;
  background-color: #fff;
  padding-right: 2px;
  display: inline-block;
}

.logo-plus-button-plus-icon {
  background-color: #4285f4;
  background-image: url(//calendar.google.com/googlecalendar/images/logo-plus.png);
  background-position: center center;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.logo-plus-button-lockup {
  padding-left: 47px;
  background-image: url(//www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_46x16dp.png);
  background-size: 46px 16px;
  background-repeat: no-repeat;
  background-position-y: 3px;
  position: relative;
  top: -4px;
  margin-left: 3px;
  margin-right: 1px;
  display: inline-block;
}

.logo-plus-button-lockup-text {
  padding-left: 1px;
  font-size: 13px;
  color: rgba(0, 0, 0, .54);
}

.day {
  text-align: right;
  padding: 14px 6px 14px 0px;
  font-size: 14px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  display: flex;
  flex-direction: column; 
}

@media only screen and (min-width: 601px) {
  .day {
    padding: 14px 20 px 20 px 0px;
  }
}

.innerDay {
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.day:nth-of-type(7n) {
  border-right: none;
}

.day-name {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid;
  border-top: 1px solid;
  line-height: 50px;
  font-weight: 500;
}

.event-wrapper {
  position: relative;
}

.event {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0px;
  font-size: 14px;
  position: relative;
  border-radius: 2px;
}

.tooltip {
  visibility: hidden;
  width: 225px;
  background: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;

  /* position tooltip */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 0%;
  margin-left: -5px;
}

.details {
  display : flex;
  font-size: 14px;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.event-text {
  padding: 5px 0px 5px 20px;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
  text-align: left;
}

.event-text:hover {
  cursor: pointer;
}

.display-linebreak {
  white-space: pre-line;
}